.RowBlockWhole{    
    transition: 'all 0.1s ease';
    position: relative;
}

.RowBlock1{    
    margin: 0rem 0rem 0rem 0rem;
}

.RowBlock2{
    margin: -2.5rem 0rem 0rem 2.5rem;
}

.RowBlock3{
    margin: -2.5rem 0rem 0rem 5rem;
}