.Diamond{
    background: url('RowBlockDiamond.png') round;
    width: 5vw;
    height: 5vw;
}

.Emerald{
    background: url('RowBlockEmerald.png') round;
    width: 5vw;
    height: 5vw;
}

.Ruby{
    background: url('RowBlockRuby.png') round;
    width: 5vw;
    height: 5vw;
}

.Sapphire{
    background: url('RowBlockSapphire.png') round;
    width: 5vw;
    height: 5vw;
}

.Empty{
    width: 5vw;
    height: 5vw;
}

.DiamondSmall{
    background: url('RowBlockDiamond.png') round;
    width: 2.5vw;
    height: 2.5vw;
}

.EmeraldSmall{
    background: url('RowBlockEmerald.png') round;
    width: 2.5vw;
    height: 2.5vw;
}

.RubySmall{
    background: url('RowBlockRuby.png') round;
    width: 2.5vw;
    height: 2.5vw;
}

.SapphireSmall{
    background: url('RowBlockSapphire.png') round;
    width: 2.5vw;
    height: 2.5vw;
}

.EmptySmall{
    width: 2.5vw;
    height: 2.5vw;
}
