.Fullsize {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.Midsize {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.NextRowWindow {
    background: url('NextRowGrid.png') round;
    width: 7.5rem;
    height: 2.5rem;
    margin: auto;
}

.NextBlock1 {
    margin-left: 0rem;
}

.NextBlock2 {
    margin-left: 2.5rem;
    margin-top: -2.5rem;
}

.NextBlock3 {
    margin-left: 5rem;
    margin-top: -2.5rem;
}

.Grid {
    background: url('PlacementGrid.png') round;
    width: 45rem;
    height: 22.5rem;
    margin: auto;
}

.Column0 {    
    margin-left: 0rem;
    margin-top: -2.5rem;
}

.Column1 {    
    margin-left: 2.5rem;
    margin-top: -22.5rem;
}

.Column2 {    
    margin-left: 5rem;
    margin-top: -22.5rem;
}

.Column3 {    
    margin-left: 7.5rem;
    margin-top: -22.5rem;
}

.Column4 {    
    margin-left: 10rem;
    margin-top: -22.5rem;
}

.Column5 {    
    margin-left: 12.5rem;
    margin-top: -22.5rem;
}

.Column6 {    
    margin-left: 15rem;
    margin-top: -22.5rem;
}

.Column7 {    
    margin-left: 17.5rem;
    margin-top: -22.5rem;
}

.Column8 {    
    margin-left: 20rem;
    margin-top: -22.5rem;
}

.Column9 {    
    margin-left: 22.5rem;
    margin-top: -22.5rem;
}

.Column10 {    
    margin-left: 25rem;
    margin-top: -22.5rem;
}

.Column11 {    
    margin-left: 27.5rem;
    margin-top: -22.5rem;
}

.Column12 {    
    margin-left: 30rem;
    margin-top: -22.5rem;
}

.Column13 {    
    margin-left: 32.5rem;
    margin-top: -22.5rem;
}

.Column14 {    
    margin-left: 35rem;
    margin-top: -22.5rem;
}

.Column15 {    
    margin-left: 37.5rem;
    margin-top: -22.5rem;
}

.Column16 {    
    margin-left: 40rem;
    margin-top: -22.5rem;
}

.Column17 {    
    margin-left: 42.5rem;
    margin-top: -22.5rem;
}


